@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: hsl(28, 38%, 92%);
  color: hsl(228, 12%, 48%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  max-width: 600px;
  min-height: 450px; 
  background-color: white;
  border-radius: 10px;
  margin: 28px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.product-image {
  background-image:  url("./images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.description h2 {
  font-family: 'Fraunces', serif;
  font-weight: 500;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
}

.subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 5px;
}

.description p {
  font-size: 14px;
}

.price {
  display: flex;
  align-items: center;
}

.discount-price {
  font-family: 'Fraunces', serif;
  font-weight: 500;
  font-size: 32px; 
  color: hsl(158, 36%, 37%);
  margin-right: 19px;
}

.original-price {
  text-decoration: line-through;
}

.add-to-cart {
  height: 48px;
  border: none;
  border-radius: 8px;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(157, 43%, 18%);
}

.icon {
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 632px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 2fr;
    max-width: 343px;
    min-height: 611px;
  }

  .product-image {
    background-image: url("./images/image-product-mobile.jpg");
  }

  .description {
    padding: 24px;
  }
}